PORT=8080

REACT_APP_CANDY_MACHINE_CONFIG=4apYk2oAqZnj6MSL1JWdENhDHcbZV4umXQev8DkVktGS
REACT_APP_CANDY_MACHINE_ID=F8dF7bgxQCwtDWiB6wMvMvNShPk1weLhbMPQuAfNNa6p
REACT_APP_CANDY_START_DATE=1631636980
REACT_APP_SOLANA_NETWORK=devnet
REACT_APP_SOLANA_RPC_HOST=https://explorer-api.devnet.solana.com
REACT_APP_TREASURY_ADDRESS=eHGPYmvqDVokizphEp3vewSNL5W6dVGSh8YYNnTGo1n

REACT_APP_RPG_HOST=https://boring-lamarr-571430.netlify.app/
REACT_APP_MMORPG_HOST=https://my-nft-game.herokuapp.com/
REACT_APP_GAME_DEFAULT_WALLET=7xUNxHw4sbitL3cu8E9bZpt7VrymEMD5ULdQoeEkNj7k
